*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    font-family: 'Ibarra Real Nova' , sans-serif;
    font-family: 'Public Sans' , sans-serif;
}

img{
    object-fit: cover;
}
a{
    text-decoration: none;
}
ul ,li {
    list-style-type: none;
}