// header start 
.nav {
    @include flex;
    padding-top: 64px;
    padding-bottom: 54px;
}

.nav__bar {
    &-list {
        display: flex;
        align-items: center;
        gap: 42px;
        padding: 0;
    }

    &-item {
        .active {
            color: #5FB4A2;
            // color: $main-color1;
        }

        a {

            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #33323D;
            transition: all .2s ease;

            &:hover {
                color: $main-color1;
            }
            &:active{
                color: $main-color2;
            }
        }
    }
}

.active {
    // color: #5FB4A2;
    color: $main-color1;
}
.nav__bar-bar{
    display: none;
}
@media only screen and (max-width:555px){
    .nav{
        padding-top: 32px;
    }
    .nav__bar-bar{
        display: block;
    }
    .nav__bar{
        display: none;
    }
}