.hero__item {
    display: flex;
    align-items: center;
    gap: 125px;
}

// .hero__img {}

.hero__text {
    width: 30%;
    height: 50%;

    h2,
    h1 {
        font-family: 'Ibarra Real Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }

    p {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        margin-bottom: 30px;
    }

    a {
        @include button;
        margin-bottom: 50px;
    }

    .hero__line1 {
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
        margin-bottom: 70px;
    }

    .hero__line2 {
        display: block;
        width: 100%;
        height: 2px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
        margin-top: 70px;

    }
}

.manage {
    margin-bottom: 80px;
}

.bookmark {
    margin-bottom: 80px;
    justify-content: end;
}

.insure {
    margin-bottom: 80px;
}
.fylo{
    margin-bottom: 150px;
    justify-content: end;
}

@media only screen and (max-width:900px) {
    .hero__item {
        gap: 60px;
    }

    .hero__text {
        width: 40%;
    }

    .hero__line1 {
        width: 70%;
    }
}

@media only screen and (max-width:635px) {
    .hero__item {
        flex-direction: column;
    }

    .hero__text {
        width: 85%;
    }
    .bookmark{
        flex-direction: column-reverse;
    }
    .fylo{
        flex-direction: column-reverse;
    }
}