footer {
    background-color: $main-color3;
}

.footer {
    @include flex;
    padding: 24px 0;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 42px;
    margin: 0;
}

.footer__logo-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
}

.footer__nav-item {
    a {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
@media only screen and (max-width:637px){
    .footer{
        flex-direction: column;
    }
    .footer__nav-list{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
}